.certificateParent {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.tech {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.certificateContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width:750px){
  .tech {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width:700px){
  .tech {
    width: 95%;
  }
}
@media only screen and (max-width:550px){
  .tech {
    grid-template-columns: 1fr 1fr 1fr;
  }
}